<% if(!user) {%>
<div class="hero-unit">
    <h1>全新一代涡轮引擎</h1>
    <p>Jet21基于全新平台打造,具有低油耗高功率特点,为固定翼飞机提供强大动力保障.</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">登录</a>
        <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
</div>
<% } else {%>
    <%- include say %>
<%}%>
<%- include posts%>